:root {
    font-family: 'Poppins', sans-serif;
    --yellow: rgb(252, 221, 0);
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(252, 221, 0);
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(34, 34, 34);
    width: 100vw;
    display: flex;
    height: 5vmax;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
}

.logo {
    width: 10vmax;
}


.navItems {
    font-size: 1.05vmax;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.navItem {
    font-weight: 700;
    margin-left: 2.5vmax;
    transition: all .20s;
}

.navItem:hover {
    color: rgb(252, 221, 0);
}


.ticket {
    margin-left: 2.5vmax;
    padding: 1.7vmax;
    font-weight: 700;
    transition: all .7s;
}

.ticket:hover {
    background-color: rgb(252, 221, 0);
    color: black;
}



.navLogo {
    position: absolute;
    left: 3.5vmax;
}

.selected {
    color: rgb(252, 221, 0);
}






footer {
    background-color: rgb(34, 34, 34);
    width: 100vw;
    height: auto;
}

footer p {
    color: white;
    font-size: .8vmax;
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-top: 1vmax;
    padding-bottom: 2vmax;
}

.social img {
    width: 1.2vmax;
}

.social {
    width: 40vh;
    margin: auto;
    padding-top: 2vmax;
    display: flex;
    justify-content: space-between;
}












.head1 {
    font-size: 3vmax;
    font-weight: 300;
    color: rgb(68, 68, 68);
    text-align: center;
    margin-top: 5vmax;
}

.hrabt {
    width: 10vmax;
    margin: auto;
    background-color: rgb(232, 112, 33);
    border: 1px solid rgb(232, 112, 33);
    height: 5px;
    border-radius: 1vmax;
}

.list {
    /* border: 2px solid red; */
    width: 90vw;
    margin: auto;
    margin-top: 3vmax;
    margin-bottom: 4vmax;
}


.l {
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    height: 15vh;
    display: flex;
}

.l1 {
    border-top: 2px solid black;
    width: 55%;
    height: 100%;
    font-size: 1vmax;
    padding-top: 1vmax;

}

.l2 {
    border-top: 2px solid black;
    width: 20%;
    height: 100%;
    padding-top: 1vmax;
    font-size: 1vmax;
    display: flex;
    justify-content: space-around;
}

.l3 {
    border-top: 2px solid black;
    padding-top: 1vmax;
    width: 25%;
    height: 100%;
}





.ticketPrices {
    width: 5vmax;
    display: block;
    margin: auto;
    font-size: 1vmax;
    padding-top: .2vmax;
    padding-bottom: .2vmax;
    padding-left: .7vmax;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}


.cart {
    width: 7vmax;
    display: block;
    margin: auto;
    color: black;
    padding-top: .5vmax;
    padding-bottom: .5vmax;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2vmax;
    cursor: pointer;
    text-align: center;
    transition: all .25s;
}

.cart:hover {
    background-color: var(--yellow);
}



.details {
    border: 2px solid rgb(0, 0, 0);
    width: 90vw;
    margin: auto;
    height: auto;
    border-radius: 1vmax;
    margin-bottom: 4vmax;
}



.os {
    font-size: 2vmax;
    font-weight: 300;
    color: rgb(68, 68, 68);
    text-align: center;
}


.con {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: .5vmax;
}

input {
    margin-top: 2vw;
    width: 300px;
    height: 2vmax;
    padding-left: .5vmax;
    font-size: 1vmax;
    border-radius: .2vmax;
    border: 1px solid rgb(0, 0, 0);
}


.subT {
    text-align: center;
    margin-top: 1.5vmax;
    font-size: 3.3vh;
}


.cout {
    width: 10vmax;
    display: block;
    margin: auto;
    color: black;
    padding-top: .5vmax;
    padding-bottom: .5vmax;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2vmax;
    cursor: pointer;
    text-align: center;
    margin-top: 1.5vmax;
    margin-bottom: 2vmax;
    background-color: var(--yellow);

    transition: all .25s;
}

.cout:hover {
    transform: scale(1.1);
}







#total {
    color: rgb(48, 171, 0);
}




.coutInfo {
    /* border: 2px solid red; */
    width: 100%;
    padding-left: 2vw;
    margin: auto;
    margin-top: 2vmax;
    text-align: center;
    font-size: .7vmax;
}


.tcount {
    padding-left: 1vmax;
    color: rgb(0, 198, 0);


}





.stotal {
    color: rgb(0, 198, 0);
}






































































































































































































.ham {
    display: none;
}




/* Media Query */

@media (min-width: 100px) and (max-width: 1100px) {

    .navItems {
        display: none;
    }

    .hamMenue {
        /* border: 2px solid red; */
        width: 100vw;
        height: auto;
        position: absolute;
        top: 5vmax;
        background-color: rgb(34, 34, 34);
        z-index: 1;
        top: -20vmax;
    }

    .hamMenue a {
        display: block;
        text-align: center;
        margin-top: .2vmax;
        margin-bottom: 1vmax;
    }


    .ham {
        display: block;
        width: 3vmax;
        position: absolute;
        right: 3.5vmax;
        cursor: pointer;
    }


    @keyframes sham {
        from {
            top: -20vmax;
        }

        to {
            top: 5vmax;
        }
    }


    .showHam {
        animation-name: sham;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }


    @keyframes hham {
        from {
            top: 5vmax;
        }

        to {
            top: -20vmax;
        }
    }


    .hideHam {
        animation-name: hham;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }



    .head1 {
        margin-top: 7vmax;
    }
}