:root {
    font-family: 'Poppins', sans-serif;
    --yellow: rgb(252, 221, 0);
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(252, 221, 0);
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(34, 34, 34);
    width: 100vw;
    display: flex;
    height: 5vmax;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
}

.logo {
    width: 10vmax;
}


.navItems {
    font-size: 1.05vmax;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.navItem {
    font-weight: 700;
    margin-left: 2.5vmax;
    transition: all .20s;
}

.navItem:hover {
    color: rgb(252, 221, 0);
}


.ticket {
    margin-left: 2.5vmax;
    padding: 1.7vmax;
    font-weight: 700;
    transition: all .7s;
}

.ticket:hover {
    background-color: rgb(252, 221, 0);
    color: black;
}



.navLogo {
    position: absolute;
    left: 3.5vmax;
}

.selected {
    color: rgb(252, 221, 0);
}






.page1 {
    width: 100vw;
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/ride9.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 3.2vmax;
}


.page2 {
    /* border: 2px solid red; */
    width: 100vw;
    margin: auto;
    height: auto;
}

.page2 h1 {
    margin-top: 1vmax;
    text-align: center;
    font-size: 3vmax;
    color: var(--yellow);
    font-weight: 800;


}

.page2 h4 {
    text-align: center;
    font-size: 1.5vmax;
    font-weight: 300;
    width: 80%;
    margin: auto;
    margin-top: 1.5vmax;

}

.page2 p {
    margin-top: 1.5vmax;
    text-align: center;
    font-size: 1vmax;
    font-weight: 300;
    width: 60vw;
    margin: auto;
    margin-top: 2vmax;
    margin-bottom: 2.5vmax;
}





.page3 {
    background-color: rgb(249, 249, 249);
    height: auto;
    text-align: center;
    padding-bottom: 4vmax;

}

.p3head {
    display: inline-block;
    font-size: 2vmax;
    padding-top: 4vmax;
    font-weight: 200;
    color: rgb(68, 68, 68);
}

hr {
    width: 4vmax;
    margin: auto;
    background-color: rgb(232, 112, 33);
    border: 1px solid rgb(232, 112, 33);
    height: 5px;
    border-radius: 1vmax;
}


.lis {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3vmax;
    text-align: left;
    color: rgb(68, 68, 68);
    font-size: 1vmax;
}


.bullet {
    color: rgb(232, 112, 33);
    font-weight: 800;
    font-size: 1.5vmax;
}

.lis2 {
    /* border: 2px solid gray; */
    width: 90vw;
    margin: auto;
    margin-top: 2.5vmax;

    display: flex;
    justify-content: space-around;

    font-size: .7vmax;
    text-align: center;
}


.lis2 img {
    width: 2vmax;
}





footer {
    background-color: rgb(34, 34, 34);
    width: 100vw;
    height: auto;
}

footer p {
    color: white;
    font-size: .8vmax;
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-top: 1vmax;
    padding-bottom: 2vmax;
}










.social img {
    width: 1.2vmax;
}

.social {
    width: 40vh;
    margin: auto;
    padding-top: 2vmax;
    display: flex;
    justify-content: space-between;
}














































































































































































































































.ham {
    display: none;
}




/* Media Query */

@media (min-width: 100px) and (max-width: 1100px) {

    .navItems {
        display: none;
    }

    .hamMenue {
        /* border: 2px solid red; */
        width: 100vw;
        height: auto;
        position: absolute;
        top: 5vmax;
        background-color: rgb(34, 34, 34);
        z-index: 1;
        top: -20vmax;
    }

    .hamMenue a {
        display: block;
        text-align: center;
        margin-top: .2vmax;
        margin-bottom: 1vmax;
    }


    .ham {
        display: block;
        width: 3vmax;
        position: absolute;
        right: 3.5vmax;
        cursor: pointer;
    }


    @keyframes sham {
        from {
            top: -20vmax;
        }

        to {
            top: 5vmax;
        }
    }


    .showHam {
        animation-name: sham;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }


    @keyframes hham {
        from {
            top: 5vmax;
        }

        to {
            top: -20vmax;
        }
    }


    .hideHam {
        animation-name: hham;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }


}